{% extends 'base.html.twig' %}

{% block title %} À propos {% endblock %}

{% block body %}
    <div id="container_main">
            <div id="aboutUs">

                <div id="Us">
                    <div class="photo">
                        <img src="images/photoDev.jpg">
                    </div>
                    <div id="infosUs">
                        <h2>Qui sommes nous ?</h2>
                        <p>Composée de 4 personnes : Ibrahima Correa, Ayoub Lafdail, Ryan Ezzahhaf et Lucile Liberge, notre équipe (ainsi que les 3 autres de notre promotion) a pour projet de développer un site web nous permettant de valider une première partie de notre formation chez WebForce3 Paris 4 :<br>
                            La formation en alternance pour devenir Développeur.se Web et Web mobile. C'est à la fin de ces 3,5 mois de formation intensive que nous allons, peut-être, obtenir notre certification, validant ainsi nos premières compétences en matière de programmation.<br>
                            Cette certification est la première étape d'une reconversion professionnelle pour certains, ou tout simplement l'accès à un métier pour d'autres. </p>
                    </div>
                </div>

                <div id="website">
                    <div id="infosSite">
                        <h2>Pourquoi ce site ?</h2>
                        <p>C'est donc là que notre site entre en jeu !<br>
                           Permettant un accès facile à une liste d'activités en fonction d'une ville Européenne choisie, nous avons sélectionné ce thème pour son accessibilité et son intemporalité.<br>
                           En d'autres termes, un site touristique sera toujours utile et ce, de plus en plus grâce à la digitalisation de tout ce qui peut être digitalisé dans les années à venir.<br>
                           Et oui, en cette période difficile, nous savons bien qu'il est difficilement possible de quitter la France et c'est pourquoi notre site regroupe également des activités françaises, permettant, peut-être, de redécouvrir la France et ainsi voyager sans partir à l'étranger.<br>
                           Convaincu ? Non ? Eh bien je vous invite à visiter et à tester notre site par vous même, afin de vous faire votre propre avis. 😉 </p>
                    </div>    
                    <div class="photo">
                        <img src="images/vacances.jpg">
                    </div> 
                </div>    

            </div>
        </div>
{% endblock %}