header{
	background-image: url("../images/header.jpg");
	height: 500px;
	background-attachment: scroll;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-y: 79%;

}

footer{
	background-color: #FFE59E;
	height: 500px;
}

.tt{
	height: 200px;
	margin-top: 50px;
}

.bordure{
	height: 50px;
	width : 100%;
	padding: 150px 0px; 
	font-weight: bold;
	text-align: center;
	opacity: 0.9;
	position: relative;
	font-size: 1em; 
	top: 150px; 
}

footer img {
	width: 60px; 
	height: 60px; 
	object-fit: cover; 
	}

#nomdusite{
	position: relative;
	top: 200px;
	height: 50px;
	display: flex;
	font-weight: bold;
	color: white;
	text-align: center;
	position:relative;
	font-size: 3em; 

}
#icone{
	position: relative;
	top: 160px; left: 300px;
} 

a:link {color: white;}
a:visited {color: white;}
a:hover {color: white;}
a:active {color: white;}

footer a:link,footer a:visited,footer a:hover,footer a:active{
	color: black;
}

