{% extends 'base.html.twig' %}

{% block content %}
<h1>COOKIES Smart Travel</h1>
            
            <p>
                Les données personnelles collectées notamment via les cookies sur le site, l'application mobile  Smart Travel ou lors de vos commandes sont traitées conjointement par :
                <br> Smart Travel&amp; SERVICES RCS Créteil B 355 910 534 et ;
                <br>Smart Travel RCS Créteil B 355 910 534
                <br>Domiciliées: 49 Boulevard Saint-Michel, 75004 Paris
                <br>Ci-après dénommées ensemble «Smart Travel»
            </p>
            <p>Lors de la consultation de notre site smart-travel.com, des cookies sont déposés par Smart Travel et/ou des tiers sur votre ordinateur, votre mobile ou votre tablette.</p>
            <p>Cette page vous permet de mieux comprendre comment fonctionnent les cookies et comment utiliser les outils actuels afin de les paramétrer.</p>
            <h2>Qu'est-ce qu'un cookie ?</h2>
            <p>
                Un cookie est un petit fichier texte déposé sur votre ordinateur lors de la visite d'un site ou de la consultation d'une publicité. Ils ont notamment pour but de collecter des informations relatives à votre navigation sur les sites et de vous adresser des services personnalisés. Différents types de cookies peuvent être  utilisés sur notre site : cookies http,  cookies en stockage local, cookies flash, fingerprinting, pixels ou autres identifiants de traçage...
                <br>Notre site est conçu pour être particulièrement attentif aux besoins et attentes de nos clients. C'est entre autres pour cela que nous faisons usage de cookies afin par exemple de vous identifier et accéder à votre compte, gérer votre panier de commande, mémoriser vos consultations et personnaliser les offres que nous vous proposons et les publicités que vous visualisez sur notre site ou en dehors.
            </p>
            <h2>Comment gérer mes cookies ?</h2>
            <p>
                Certains cookies sont soumis au consentement.
                <br>Vous  consentez au dépôt des cookies dont l'information vous est communiquée dans le bandeau d'information cookies visible lors de votre première connexion au site:
            </p>
            <ul>
                <li>En cliquant sur l'icône «X» ou le bouton accepter figurant sur le bandeau ;</li>
                <li>En poursuivant sa navigation</li>
            </ul>
            <p>
                L'accord ainsi donné est valable pour une durée maximum de treize (13) mois à compter du premier dépôt dans l'équipement du terminal.
                <br>Si vous refusez l'enregistrement de cookies dans votre  terminal ou navigateur, ou si vous supprimez ceux qui y sont enregistrés, vous êtes informé que votre navigation et votre expérience sur le site peuvent être limitées. C'est ainsi que des publicités continueront à s'afficher sur les pages internet visitées, mais elles ne seront personnalisées.
            </p>
            <p>Si vous ne l'avez pas fait depuis le bandeau d'information lors de votre arrivée sur notre site,  vous pouvez à tout moment accepter ou refuser les cookies  via notre gestionnaire de cookies accessible ici: <button type="button" class="js-consent-options">Gérer mes cookies</button></p>
            <p>
                Vos préférences ont été enregistrées avec l'identifiant suivant : <span id="ConsentID_info">5987733f-1a83-4094-924b-e09992069f6e</span>
                <br>Date d'enregistrement : <span id="ConsentDate_info">11-02-2021 - 11h11</span>
            </p>
            <p>Vous êtes informé que les partenaires de l'Editeur et tout autre tiers peuvent être amenés à déposer des cookies sur le site. Seul l'émetteur d'un cookie est susceptible de lire ou de modifier des informations qui y sont contenues et l'Editeur n'a aucun accès ou contrôle sur les cookies que des tiers peuvent être amenés à utiliser. L'émission et l'utilisation de cookies par des tiers sont soumises aux politiques de confidentialité de ces tiers en complément des présentes. En conséquence, vous êtes invité à vous rendre sur les sites de ces tiers pour plus d'informations sur les cookies qu'ils enregistrent et comment les gérer.</p>
            <p>Vous disposez ainsi de différents moyens pour gérer les cookies :</p>
            <ol>
                <li>
                    <b>Le gestionnaire de cookies sur notre site</b>
                    <br>Le gestionnaire accessible depuis le bandeau d'information cookies ou via la rubrique ci-dessus «&nbsp;gérer mes cookies sur le site&nbsp;».
                </li>
                <li>
                    <b>Le paramétrage de votre navigateur internet</b>
                    <br>Vous pouvez à tout moment choisir de désactiver ces cookies en vous rendant dans votre navigateur. Vous pouvez accepter ou refuser les cookies au cas par cas ou bien les refuser systématiquement une fois pour toutes.
                </li>
                <li>
                    <b>Autres moyens</b>
                    <br>Vous pouvez vous connecter au site Youronlinechoices, proposé par les professionnels de la publicité digitale regroupés au sein de l'association européenne EDAA (European Digital Advertising Alliance) et géré en France par l'Interactive Advertising Bureau France. Vous pourrez ainsi connaître les entreprises inscrites à cette plate-forme et qui offrent la possibilité de refuser ou d'accepter les Cookies utilisés par ces entreprises pour adapter aux informations de l'Utilisateur de navigation les publicités susceptibles d'être affichées sur son terminal : <a href="http://www.youronlinechoices.com/fr/controler-ses-cookies/" target="_blank">http://www.youronlinechoices.com/fr/controler-ses-cookies/</a>.
                </li>
            </ol>
            <p>
                Vous pouvez également exprimer vos choix en ligne via les liens suivants :
                <br><a href="http://www.aboutads.info/choices/" target="_blank">http://www.aboutads.info/choices/</a>
                <br><a href="http://www.aboutads.info/choices/" target="_blank">http://optout.networkadvertising.org/?c=1</a>
            </p>
            <h2>D'où viennent les cookies ?</h2>
            <p>Les cookies peuvent être déposés par Smart Travel en tant qu'Editeur du site, ou par des tiers.</p>
            <h3>Les cookies Smart Travel :</h3>
            <p>Il s'agit des cookies déposés par Smart Travel (ou par ses prestataires pour le compte de Smart Travel) sur votre terminal pour les besoins de la navigation sur notre site internet, l'optimisation et la personnalisation de nos services sur le site.</p>
            <h3>Les cookies tiers :</h3>
            <p>
                Il s'agit des cookies déposés par des sociétés tierces (par exemple des régies publicitaires ou par des partenaires) afin d'identifier vos centres d'intérêt au travers des produits consultés ou achetés sur notre site et personnaliser l'offre publicitaire qui vous est adressée sur notre site ou en dehors de notre site.
                <br>Ils peuvent être déposés à l'occasion de la navigation sur notre site ou lorsque vous cliquez dans les espaces publicitaires de notre site.
                <br>Certains cookies peuvent être déposés par des Tiers Non Autorisés, et sur lesquels Smart Travel ne dispose d'aucun contrôle.
            </p>
            <h2>Pourquoi utilisons-nous des cookies ?</h2>
            <p>Les cookies ont des finalités qui peuvent être différentes. Certains sont nécessaires à votre utilisation de notre site d'autres ont des finalités plus accessoires.</p>
            <h3>Les cookies de navigation, nécessaires au fonctionnement du site</h3>
            <p>Il s'agit des cookies nécessaires au fonctionnement de notre site. Ils vous permettent d'utiliser les principales fonctionnalités de notre site (par exemple utilisation du panier d'achat ou l'accès à votre compte). Sans ces cookies, vous ne pourrez pas utiliser notre site normalement. Il s'agit de cookies déposés par Smart Travel qui ne concernent que le fonctionnement de notre site et qui ne requièrent pas l'information et l'accord préalable de l'internaute pour être déposés sur son terminal.</p>
            <h3>Les cookies analytiques, nécessaires à la mesure d'audience :</h3>
            <p>Il s'agit des cookies qui nous permettent de connaître l'utilisation, les volumes de fréquentation et d'utilisation ainsi que les performances de notre site. Ces cookies permettent à Smart Travel d'améliorer l'intérêt, l'ergonomie et le fonctionnement des services proposés sur le site (par exemple, les pages le plus souvent consultées, recherches des internautes dans le moteur du site...).</p>
            <h3>Les cookies fonctionnels pour personnaliser votre expérience :</h3>
            <p>Il s'agit des cookies qui nous permettent d'identifier les informations du site qui pourraient vous intéresser aux fins de personnaliser votre expérience sur notre site (par exemple vous rappeler les derniers produits consultés, mémoriser les articles de votre panier avant de poursuivre vos achats.). Ils vous permettent également de bénéficier de nos conseils personnalisés et d'offres promotionnelles en fonction de votre origine de navigation (par exemple si vous venez de nos sites partenaires). Ils peuvent aussi être utilisés pour vous fournir des fonctionnalités que vous avez sollicités (ex mon magasin préféré, mes conseils personnalisés...). Afin de personnaliser votre expérience d'achat nous pouvons associer des données de navigation traitées par les cookies avec les données de nos bases clients relatives à votre compte ou à vos achats sur notre site. Si vous ne souhaitez pas bénéficier d'une expérience d'achat personnalisée basée sur les informations que nous avons dans nos bases vous pouvez effectuer des achats sans utiliser votre compte en «&nbsp;navigation invité&nbsp;».</p>
            <p>
                Nous pouvons déposer un cookie de géolocalisation sur le site, afin de vous localiser pour vous permettre de bénéficier de certaines fonctionnalités telles que la recommandation d'adresses de magasins, l'affichage des produits disponibles dans les magasins les plus proches de vous ou encore la prise de rendez-vous.
                <br>Les cookies de géolocalisation sont conservés pour une durée limitée aux besoins du service.
            </p>
            <h3>Les cookies publicitaires</h3>
            <p>Il s'agit des cookies utilisés pour vous présenter des publicités ou vous adresser des informations adaptées à vos centres d'intérêts sur notre site ou en dehors de notre site lors de votre navigation sur Internet. Ils sont notamment utilisés pour limiter le nombre de fois où vous voyez une publicité et aider à mesurer l'efficacité d'une campagne publicitaire.</p>
            <p>
                Les cookies publicitaires peuvent être déposés et lus par la régie publicitaire Smart Travel, ses prestataires, partenaires ainsi que par les annonceurs dont la publicité s'affiche.
                <br>Ils permettent, pendant la durée de validité de ces cookies, de :
            </p>
            <ul>
                <li>diffuser de la publicité dans tous les emplacements réservés à la publicité de tiers, </li>
                <li>comptabiliser le nombre d'affichages des contenus publicitaires diffusés via nos espaces publicitaires, d'identifier les publicités ainsi affichées et le nombre d'utilisateurs ayant cliqué sur chaque publicité, de calculer les sommes dues de ce fait et d'établir des statistiques,</li>
                <li>reconnaître votre terminal lors de sa navigation ultérieure sur tout autre site ou service sur lequel ces annonceurs ou ces tiers émettent également des cookies et, le cas échéant, d'adapter ces sites et services tiers ou les publicités qu'ils diffusent, à la navigation de votre terminal dont ils peuvent avoir connaissance.</li>
            </ul>
            <h3>La régie Smart Travel</h3>
            <p>
                Dans le cadre de l'activité de régie publicitaire de Smart Travel, nous participons à la diffusion des publicités d'annonceurs dans les espaces publicitaires de notre site ou sur d'autres sites éditeurs en réalisant des segmentations publicitaires (profils).
                <br>Pour cela, nous pouvons partager des données qui ne permettent pas de vous identifier directement, tels que les identifiants techniques de connexion sur le site, données de navigation ou des données issues de nos bases de gestion clients (historiques d'achat), avec des partenaires de confiance (clients de la régie, annonceurs, partenaires...).
                <br>Vous pouvez vous opposer à l'utilisation de vos données de navigation pour la réalisation de profils publicitaires à destination de tiers en désactivant les cookies publicitaires dans votre gestionnaire cookies. Pour vous opposer à l'utilisation de données de votre compte vous pouvez le signaler sur l’agent conversationnel de la page de la Politique de protection des données personnelles du site <a href="https://www.Smart Travel.com/Help/donneesPersonnelles">ici</a> en indiquant «&nbsp;Opposition partage avec des tiers pour publicité ciblée&nbsp;».
            </p>
            <h3>L'Alliance Gravity</h3>
            <p>
                Smart Travel est membre de l'Alliance Gravity Data Media (ci-après «&nbsp;Gravity&nbsp;»). Alliance Gravity Data Media est un rassemblement d'éditeurs, medias et ecommerçants destiné à mettre en commun les atouts des différents acteurs français pour la publicité en ligne. Gravity collecte, rapproche et analyse des informations issues de votre navigation (activités en ligne, visites, pages vues, liens) sur les supports digitaux édités par les Membre d'Alliance Gravity Data Media (www.alliancegravity.com/membres) et des partenaires, à l'aide d'un tag Gravity opéré par la société Mediarithmics.
                <br>Le tag Gravity et les autres identifiants placés dans les cookies utilisés par Gravity et les membres de l'Alliance Gravity Data Media, sont associés entre eux pour chaque terminal sur lequel vous naviguez. Ces données ne comportent aucune donnée permettant à Alliance Gravity Data Media de vous identifier directement. Ces données sont croisées avec des données de navigation et autres informations collectées à l'occasion de vos relations avec les Membres du réseau Alliance Gravity Data Media, et rendues pseudonymes avant toute utilisation par Alliance Gravity Data Media.
                <br>Comme d'autres acteurs de la publicité en ligne, Alliance Gravity Data Media participe et fait appel à des services d'échanges basés sur les identifiants marketing pseudonymes contenus dans les cookies («&nbsp;cookie matching&nbsp;») avec des tiers, régies publicitaires ou services d'analyse, dont notamment la société Mediarithmics. Ces échanges de cookies permettent ainsi aux clients des partenaires proposant ces services d'échanges de cookies d'enrichir les profils des utilisateurs à partir de données détenues par Alliance Gravity Data Media et ses Membres, à des fins de ciblage publicitaire.
                <br>Pour en savoir plus sur l'Alliance Gravity Data Media : <a href="https://www.alliancegravity.com" target="_blank">www.alliancegravity.com</a>.
                <br>Vous pouvez vous opposer au partage de données avec Gravity à des fins de publicité ciblée : pour les données de navigation : en désactivant les cookies publicitaires dans votre gestionnaire ou ici <a href="https://www.alliancegravity.com/politiquedeprotectiondesdonneespersonnelles/#opt-out" target="_blank">https://www.alliancegravity.com/politiquedeprotectiondesdonneespersonnelles/#opt-out</a>.
            </p>
            <h3>Le Retargeting</h3>
            <p>
                Nous vous informons que pouvons utiliser des fonctionnalités de ciblage avancées par combinaison de données de type «&nbsp;retargeting&nbsp;» (affichage de publicité lors de votre navigation en dehors de notre site ou contact email - suite à la consultation de produits sur notre site). Ces fonctionnalités rendues possibles par l'utilisation de cookies sont proposées par des partenaires, pour vous présenter des publicités mieux adaptées à vos besoins et en lien avec votre comportement récent sur notre site.
                br&gt;Pour en savoir plus sur le retargeting email : <a href="https://remailme.fr/politique-confidentialite/" target="_blank">https://remailme.fr/politique-confidentialite/</a>
            </p>
            <h3>La reconnaissance de vos appareils</h3>
            <p>
                Nous utilisons certains cookies et partageons des informations non directement identifiantes pour lier entre eux les différents terminaux et/ou environnements (ordinateurs, téléphone portable ...) à partir desquels vous consultez le site afin de vous offrir une expérience cohérente et harmonisée quelle que soit la manière dont vous naviguez ;
                <br>Pour en savoir plus sur le dispositif de rapprochement des différents appareils ou vous y opposer vous pouvez vous rendre sur <a href="http://www.criteo.com/fr/privacy/" taget="_blank">http://www.criteo.com/fr/privacy/</a>.
            </p>
            <h3>Cookies en lien avec l'application mobile Smart Travel</h3>
            <p>
                Smart Travel utilise des cookies et des technologies similaires de traçage en lien avec l'utilisation de l'application Smart Travel et vos terminaux (mobiles ou ordinateurs) notamment afin de mieux vous identifier et personnaliser nos services.
                <br>Lorsque vous installez l'application Smart Travel nous collectons des informations sur votre utilisation de l'application ou de votre téléphone. Nous utilisons ces informations pour comprendre et améliorer nos relations commerciales (notamment les services, suggestions et publicités). Comme c'est le cas sur le web, nous pouvons utiliser ces technologies pour stocker sur votre appareil un identifiant ou d'autres informations.
                <br>En fonction des systèmes d'exploitation, vous pouvez désactiver ces cookies en vous rendant dans les paramètres de votre téléphone qui permettent de gérer les applications.
            </p>
            <h3>Les cookies et boutons de réseaux sociaux</h3>
            <p>
                Ces cookies et boutons des réseaux sociaux visent à permettre aux utilisateurs d'utiliser les fonctionnalités des différentes plateformes et notamment  de partager des pages et du contenu via ces réseaux sociaux tiers. Ils permettent également aux réseaux sociaux de cibler l'offre publicitaire qu'ils diffusent sur leurs plateformes.
                <br>Pour plus d'information sur l'utilisation de vos données personnelles en relation avec les réseaux sociaux, et puisque les cookies de réseaux sociaux sont gérés par l'éditeur du site du réseau social, nous vous invitons à consulter les politiques de confidentialité des réseaux sociaux tiers concernés.
            </p>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
            </ul>
            <h3>Les cookies et identifiants machine aux fins de sécurisation des transactions</h3>
            <p>
                Nous vous informons que lors de votre commande, Smart Travel ou ses prestataires agissant pour son compte, peuvent déposer des cookies ou collecter des informations relatives à votre terminal notamment informations (attributs techniques) nécessaires à la reconnaissance des équipements (ordinateur, tablette ou téléphone portable) afin de permettre l'identification de votre équipement aux fins de sécurisation des transactions (prévention des risques de fraudes). Des cookies ou identifiants machine de type «&nbsp;empreinte&nbsp;» sont utilisés à cette fin. Vous êtes informés de cette collecte d'informations relatives à votre terminal pour constituer un identifiant machine par un bandeau dès votre arrivée sur le site. En continuant vos achats sur notre site sans paramétrer la collecte de vos identifiants machine, vous acceptez la collecte de ces informations et la création de l'identifiant.
                <br>Vous pouvez également exprimer votre choix ici :
                <br>J'accepte la collecte de mes identifiants de terminal (ordinateur, tablette) pour la sécurisation de mes transactions :
                <label><input type="radio" name="cookies-consent" id="cookies-consent" value="1" class="js-cookies-content-radio" onclick="handleClick(this);">oui</label>
                <label><input type="radio" name="cookies-consent" id="cookies-non-consent" value="2" class="js-cookies-content-radio" onclick="handleClick(this);">non</label>
            </p>
            <h2>Plus d'informations sur les cookies ?</h2>
            <p>Sur le site de la CNIL : <a href="https://www.cnil.fr/fr/site-web-cookies-et-autres-traceurs" target="_blank">https://www.cnil.fr/fr/site-web-cookies-et-autres-traceurs</a></p>
            
            {% endblock %}
