{% extends 'base.html.twig' %}

{% block content %}
<h1 Mentions légales></h1>

        
        <h2> 1. Mentions légales</h2>
        
        <p> Vous êtes actuellement connecté au site .
            
            L'utilisateur en ayant accès à ce site s'engage à se conformer aux présentes conditions d'utilisation.
            
        <h2>2. Informations éditeur</h2>
        
        Ce site est édité par :
        Ibrahima CORREA 
        Ryan EZZAHHAF 
        Lucile LIBERGE 
        Ayoub LAFDAIL 
        
        49 Boulevard Saint-Michel, 75004 Paris</p>
        
        <h2> 3. Informations hébergeur :</h2>
        
        <p> Ce site est hébergé par :
            Webhost
            
            CRM Tourisme Ingénie : Brochures et Documentation, Gestion de la base de données Contact, Newsletter/E-mailing
            Logiciel de Réservation Ingénie : Billetterie/Boutique
            Logiciel de gestion des disponibilités</p>
            
            <h2> 4. Informatique et Libertés - RGPD </h2> 
            
            <p>Soucieux du respect de la vie privée des utilisateurs du site Internet «», l'Smart Travel s'engage à ce que la collecte et le traitement d'informations personnelles, soient effectués au sein du présent site conformément à la loi n°78-17 du 6 janvier 1978 modifiée relative à l'informatique, aux fichiers et aux libertés dite Loi « Informatique et Libertés ».
                
                Les informations saisies par les utilisateurs du site Internet « smart-travel.com » sont susceptibles de faire l'objet d'un traitement informatique par l'Smart Travel.
                
                A ce titre, les utilisateurs du site Internet « smart-travel.com » disposent
                d’un droit d’accès, de modification, de rectification et de suppression des données qui les concernent (article 40 de la Loi modifiée « Informatique et Libertés »).
                
                L'utilisateur de ce site est notamment informé que, conformément à l'article 27 de la loi Informatique et Libertés du 6 janvier 1978, les informations communiquées par l'utilisateur du fait des formulaires présents sur le site, sont nécessaires pour répondre à sa demande, et sont destinées à l'Smart Travel, responsable du traitement, à des fins de gestion administrative et commerciale.
                
        Registre général des activités.</p>
        
        <h2> Exercice des droits </h2>
        
        <p> Conformément à l'article 40 de la Loi Informatique et Libertés, l'utilisateur de ce site dispose d'un droit d'accès, de modification, de rectification et de suppression des données qui le concernent. Pour exercer ce droit d'accès, l'utilisateur doit envoyer un message à smart-travel@gmail.com ou écrire à :
            
            
            Smart Travel - Direction
            49 Boulevard Saint-Michel, 75004 Paris
            
            Les informations nominatives recueillies dans le cadre du site Internet « smart-travel.com » sont conservées conformément aux règles prescrites par la loi Informatique et Libertés  et par le Règlement européen relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données, et pendant une durée justifiée par la finalité de leur traitement.
            
            Pour plus d'informations sur ces textes légaux et sur la loi Informatique et Libertés, vous pouvez consulter le site Internet de la CNIL
            
            (http://www.cnil.fr)</p>
            
            <h2> 5. Règlement Général sur la Protection des Données (RGPD) </h2>
            
            <p>Le RGPD est le nouveau texte de référence en matière de protection des données au niveau européen, entré en vigueur le 25 mai 2018. Il concerne le traitement de données personnelles. Au sens du texte, une donnée personnelle est définie légalement comme « toute information se rapportant à une personne physique identifiée ou identifiable ».
                
                Conformément à l’article 6 du RGPD, le traitement des données personnelles nécessite d’être consenti par la personne concernée, sauf dans les cas énumérés par le présent article. La demande de consentement est formulée dans des termes clairs et précis de manière non-équivoque. Ce consentement peut être retiré à tout moment.
                
                Finalité de la collecte des données
        
                Smart Travel collecte des données à caractère personnel sur les visiteurs consultant le site internet https://www.smart-travel.com. Cette collecte est effectuée lorsque l’internaute navigue sur le site, lorsqu’il créé un compte ou réalise un achat en ligne, lorsqu’il s’inscrit aux newsletters proposées, lorsqu’il complète le formulaire de contact. Elles permettent de fournir à l’utilisateur des services adaptés à sa demande et de lui offrir des réponses pertinentes.
                Elles contribuent à la garantie d’un traitement et d’une gestion des commandes efficaces. La collecte de ces données permet également l’amélioration des relations de nature commerciale entre l’Smart Travel et les Utilisateurs. Ces informations sont aussi utilisées à des fins statistiques.
        
                Destinataires et catégories de destinataires
                
                Les données personnelles collectées peuvent être transmises aux sociétés et sous-traitants auxquels l’Office de Tourisme fait appel dans le cadre des services proposés. Ces données sont consultées par les responsables de traitement, le personnel ainsi que par le service administratif de l’Office de tourisme. Les données les plus sensibles ne sont consultables que par le service administratif.
                
                Durée de conservation des données
                
                Les données des utilisateurs sont conservées durant trois ans après la dernière sollicitation de l’Smart Travel restée sans réponse. Cette durée de conservation peut varier en fonction des raisons énumérées à l’article 17(3) du RGPD.
                
                Droit des personnes
                
                L’utilisateur peut exercer, conformément aux sections 3 (Rectification et effacement) et 4 (Droit d’opposition et prise de décision individuelle automatisée) de la réglementation européenne, ses droits de rectification, à l’effacement, à la limitation du traitement, à la portabilité des données et d’opposition.
                
                Réclamation auprès de la Commission Nationale de l’Informatique et des Libertés
                
        Après nous avoir contactés, vous pouvez adresser une réclamation à l’autorité de contrôle (CNIL) si vous estimez que vos droits ne sont pas respectés par nos services.
        En cas de faille dans les systèmes de sécurité informatique de l’organisme, la CNIL sera notifiée dans un délai de 72 heures maximum et les personnes concernées dans les meilleurs délais (conformément à l’article 34 du RGPD).</p>
        
        
        <h2>6. Droits d'auteur / Copyright </h2>
        
        <p> Les marques et logos figurant sur ce site sont des marques déposées par leurs propriétaires respectifs.
            Leur mention n'accorde en aucune manière une licence ou un droit d'utilisation quelconque desdites marques, qui ne peuvent donc être utilisées sans le consentement préalable et écrit du propriétaire de la marque sous peine de contrefaçon.
            
        L'ensemble des informations présentes sur ce site peut être téléchargé, reproduit, imprimé sous réserve de :
        
        - n'utiliser de telles informations qu'à des fins personnelles et en aucune manière à des fins commerciales ;
        - ne pas modifier de telles informations ;
        - reproduire sur toutes copies la mention des droits d'auteur ("le copyright") de l'Smart Travel ou du propriétaire du document.
        
        Toute autre utilisation non expressément autorisée ou toute représentation totale ou partielle de ce site, par quelque procédé que ce soit, est strictement interdite sans autorisation préalable et écrite de l'Smart Travel constituerait une contrefaçon sanctionnée par les articles L 355-2 et suivants du Code de la Propriété Intellectuelle.</p>
        
        <h2> Messagerie </h2>
        
        <p>Pour toute remarque sur le fonctionnement du site, vous pouvez envoyer un message à l'adresse suivante :
            smart-travel@gmail.com</p>
            
            
            <h2> 8. Certificat d'inscription au registre des agents de voyage : </h2>

        <p>(Article R. 211-21 du code du tourisme)
            La commission d’immatriculation mentionnée à l’article L. 141-2 du code du tourisme certifie que l’opérateur ci-après :
            OFFICE DE TOURISME SYNDICAT D'INITIATIVE DE LA VILLE DE SÈTE
        60 GRANDE RUE MARIO ROUSTAN ,34200 SÈTE, FRANCE
        a été immatriculé au registre des opérateurs de voyages et de séjours sous le numéro suivant : IM034110037 à effet du 04/10/2011.
        La garantie financière est apportée par : GROUPAMA ASSURANCE, 8-10 Rue d’Astorg, 75008 PARIS, T. 01 49 31 31 76, mail : caution@groupama-ac.fr
        L’assurance de responsabilité civile professionnelle est souscrite auprès de : MMA, agence 3405, 4 quai Léopold Suquet, 34200 SETE, T. 04 67 74 37 01, mail : A3405@mma.fr</p>
        
        {% endblock %}