{% extends 'base.html.twig' %}

{% block content %}

<h1>POLITIQUE DE CONFIDENTIALITÉ</h1>
<p> PRÉAMBULE
    Le Service d’Exploitation des Sites Touristiques de l’Ariège traite des données à caractère personnel (ci-après les « Données Personnelles) » vous concernant dans le cadre de l’utilisation de ce site internet (ci-après le « Site »).
En tant que responsable de traitement, nous sommes respectueux de la vie privée et nous protégeons les données à caractère personnel des utilisateurs de notre Site.

La présente politique vise à vous informer des modalités de collecte, de traitement et d’utilisation de Vos Données Personnelles et de vos droits en matière de protection des données à caractère personnel au regard des dispositions applicables en la matière, notamment la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés dite « Informatique et libertés » dans sa dernière version et avec le RGPD (Règlement Général sur la Protection des Données) en application depuis le 25 mai 2018.
</p>
<p> ARTICLE 1 – CHAMP D’APPLICATION DE LA PRÉSENTE POLITIQUE DE PROTECTION DES DONNÉES PERSONNELLES
La présente Politique énonce les principes et lignes directrices pour la protection de Vos Données Personnelles, ce qui inclut les Données Personnelles collectées sur – ou via – le Site.

Le Service d’Exploitation des Sites Touristiques de l’Ariège collecte des Données Personnelles (en ligne, y compris par e-mail, ou hors connexion) ; la présente politique s’applique quel que soit le mode de collecte ou de traitement.

La notion de Données Personnelles désigne toute information relative à une personne physique identifiée ou identifiable. Une personne est « identifiable » dès lors qu’elle peut être identifiée, directement ou indirectement, en particulier par référence à un numéro d’identification ou à un ou plusieurs éléments qui lui sont propres.

Les « Données Non-Personnelles » correspondent à des informations ne permettant pas d’identifier une personne.
</p>
<p>ARTICLE 2 – LIEUX DE STOCKAGE DES DONNÉES PERSONNELLES
L’ensemble des Données Personnelles est stocké exclusivement en France, par notre prestataire d’hébergement web :

OVH
49 Boulevard Saint-Michel, 75004 Paris – France
www.ovh.com
</p>
<p>ARTICLE 3 – RESPONSABLE DU TRAITEMENT
    Le responsable du traitement de Vos Données Personnelles est : le Service d’Exploitation des Sites Touristiques de l’Ariège ; certaines prestations techniques (Hébergement) sont confiées à nos prestataires techniques (Iris Interactive). Conformément à l’Article 28 du RGPD, ce prestataire est lié par une clause de stricte confidentialité qui lui interdit toute utilisation des données qui lui sont confiées non-prévue dans le contrat de prestation et qui lui impose de mettre en œuvre les mesures techniques et organisationnelles qui satisfont aux exigences de sécurité et de protection des données personnelles.
</p>
<p>ARTICLE 4 – DONNÉES COLLECTÉES
    Données Personnelles
    Les Données Personnelles peuvent inclure ce qui suit :
    
    Nom, Prénom,
    Adresse email,
    Téléphone,
    Adresse postale,
    Documents type CV pour les candidatures,
    Intérêts pour la newsletter (Promos, Sortie en famille, Grottes…)
    Et toute autre Donnée Personnelle pouvant s’avérer pertinente aux fins énoncées ci-après.
    
    Note à l’attention des visiteurs et utilisateurs du Site : certaines fonctionnalités et caractéristiques du Site ne peuvent être utilisées que si Vous communiquez à le Service d’Exploitation des Sites Touristiques de l’Ariège certaines Données Personnelles lorsque Vous visitez ou utilisez le Site. Vous êtes libre de fournir ou non, tout ou partie, de Vos Données Personnelles.
    
    Toutefois, si Vous choisissez de ne pas les fournir, une telle décision pourrait empêcher la réalisation ou la réalisation satisfaisante des objectifs décrits ci-après, certains services et certaines fonctionnalités du Site pourraient ne pas fonctionner correctement et/ou Vous vous verrez refuser l’accès à certaines pages du Site.
    
    Cookies et autres traceurs
    Le Site peut utiliser des cookies ou d’autres technologies susceptibles de collecter ou conserver des Données Personnelles. Les cookies sont des fichiers textes stockés et utilisés pour enregistrer des Données Personnelles et Non Personnelles concernant Votre navigation sur le Site.
    
    Les cookies peuvent être permanents (et rester après Votre déconnexion du Site afin d’être utilisés lors de Vos visites ultérieures sur le Site) ou temporaires (et disparaître dès que Vous vous déconnectez du Site).
    
    Le Service d’Exploitation des Sites Touristiques de l’Ariège utilise des cookies pour améliorer votre expérience d’utilisateur, notamment en :
    
    permettant à un service de reconnaître Votre matériel, ainsi Vous n’aurez pas à fournir plusieurs fois les mêmes informations afin d’exécuter la même tâche ;
    reconnaissant le nom d’utilisateur et le mot de passe que Vous avez déjà fournis afin que vous n’ayez pas à les fournir de nouveau sur chaque page web qui en ferait la demande.
Le Service d’Exploitation des Sites Touristiques de l’Ariège utilise des cookies pour analyser le trafic et les données sur les Sites afin de :

mesurer le nombre d’utilisateurs des services, permettant ainsi de les rendre plus faciles à utiliser et de s’assurer de leur capacité à répondre de manière rapide à Vos requêtes ;
aider le Service d’Exploitation des Sites Touristiques de l’Ariège à comprendre la manière dont les utilisateurs interagissent avec les services afin de les améliorer.
Le Service d’Exploitation des Sites Touristiques de l’Ariège peut également recourir aux services de prestataires tiers aux fins d’exécuter les services pour son compte et notamment pour :

analyser Vos habitudes de navigation et mesurer l’audience des Sites et des Applications ;
analyser Vos centres d’intérêts et Vous proposer des offres marketing ou publicitaires ciblées ;
vous permettre de partager le contenu des Sites des Applications avec d’autres personnes sur les réseaux sociaux ou de faire savoir à ces autres personnes ce que Vous regardez ou ce que Vous pensez (par ex. le bouton « J’aime » sur Facebook)
Dans ce cas, des « pixels » invisibles et des cookies fournis par ces prestataires tiers pourraient être utilisés et conservés. Lors de la transmission des informations générées par ces cookies, les paramètres des cookies veillent à ce que l’adresse IP soit rendue anonyme avant la géolocalisation et avant la conservation. Nos prestataires utiliseront ces informations aux fins d’évaluer Votre utilisation du Site, de rédiger des rapports sur l’activité du Site pour le Service d’Exploitation des Sites Touristiques de l’Ariège, et de Vous proposer de meilleurs services et des publicités ciblées sur Vos besoins. Ils n’associeront votre adresse IP à aucune autre de leurs données.

Lorsque vous naviguez sur le Site, les cookies sont activés par défaut et les données peuvent être lues ou conservées localement sur votre matériel. Vous serez averti la première fois que Vous recevrez un cookie et Vous pourrez ainsi décider de l’accepter ou de le refuser. En continuant d’utiliser les Sites, Vous acceptez expressément l’utilisation par le Service d’Exploitation des Sites Touristiques de l’Ariège de tels cookies.

Vous pouvez également configurer Votre navigateur de manière à refuser systématiquement les cookies (y compris les cookies utilisés à des fins de mesure d’audience). Toutefois, si tel était le cas, certaines fonctionnalités et caractéristiques du Site pourraient ne pas fonctionner correctement et Vous pourriez ne pas être en mesure de pouvoir accéder à certain(e)s parties ou services du Site.

Si vous souhaitez modifier ou supprimer vos informations, veuillez vous référer à l’Article 8 : Vos droits.

Vous pouvez accéder à votre panneau de gestion des cookies afin de paramétrer le dépôt et la lecture de cookies.

Conservation des données
Par type de données :

Données état civil (nom, prénom, adresse postale…) : 3 ans max. ;
Données de connexion : 3 ans max. ;
Données de localisation = 48h ;
Nous ne conservons Vos Données Personnelles que pour une durée nécessaire et proportionnée à la finalité pour laquelle elles ont été collectées à savoir pour une durée maximale de 3 ans à compter du dernier échange que vous avez eu avec nous et effectué à votre initiative.

Au-delà des périodes précitées, vos données seront purement supprimées ou anonymisées.
</p>
<p>ARTICLE 5 – FINALITÉS DE LA COLLECTE DES DONNÉES PERSONNELLES
    Comme indiqué ci-dessus, Vous fournissez Vos Données Personnelles de manière volontaire.
    Les Données Personnelles sont généralement collectées pour les besoins de l’activité de le Service d’Exploitation des Sites Touristiques de l’Ariège tels que l’amélioration des efforts marketing et publicitaires de le Service d’Exploitation des Sites Touristiques de l’Ariège, une meilleure adaptation des produits et services de le Service d’Exploitation des Sites Touristiques de l’Ariège aux besoins des clients ou le respect des obligations déclaratives prévues par la loi, et d’autres activités similaires.
    Le Service d’Exploitation des Sites Touristiques de l’Ariège collecte et utilise les Données Personnelles.
    
    Nous traitons vos données en tout ou partie aux fins de :
    
    Répondre aux demandes de contact
    Répondre aux demandes de contact presse
    Traiter les demandes d’envoi de brochures par voie postale
    Répondre et traiter les candidatures
    Traiter les inscriptions à notre newsletter
    Sous réserve de la législation locale applicable, en fournissant Votre adresse de courrier électronique, Vous autorisez expressément le Service d’Exploitation des Sites Touristiques de l’Ariège à l’utiliser avec d’autres Données Personnelles utiles pour Vous envoyer des messages commerciaux ou de marketing.
    
    Le Service d’Exploitation des Sites Touristiques de l’Ariège est également susceptible d’utiliser Votre adresse de courrier électronique à des fins administratives ou d’autres objectifs ne relevant pas du marketing (par exemple, pour Vous notifier d’importants changements apportés au Site).
</p>
<p>ARTICLE 6 – CONDITIONS DE TRAITEMENT ET DE STOCKAGE DES DONNÉES PERSONNELLES
    Le « traitement » des Données Personnelles inclut notamment l’utilisation, la conservation, l’enregistrement, le transfert, l’adaptation, l’analyse, la modification, la déclaration, le partage et la destruction des Données Personnelles en fonction de ce qui est nécessaire au regard des circonstances ou des exigences légales.
    
    Toutes les Données Personnelles collectées sont conservées pour une durée limitée en fonction de la finalité du traitement et uniquement pour la durée prévue par la législation applicable.
    
    Toutes les Données Personnelles collectées sont stockées en France Métropolitaine.
</p>
<p>ARTICLE 7 – LIENS VERS DES SITES WEB NON CONTRÔLÉS PAR LE SERVICE D’EXPLOITATION DES SITES TOURISTIQUES DE L’ARIÈGE
    Le Site peut proposer des liens vers des sites Internet de tiers susceptibles de Vous intéresser.
    
    Le Service d’Exploitation des Sites Touristiques de l’Ariège n’exerce aucun contrôle sur le contenu de sites de tiers ou sur les pratiques de ces tiers en matière de protection des Données Personnelles qu’ils pourraient recueillir. En conséquence, le Service d’Exploitation des Sites Touristiques de l’Ariège décline toute responsabilité concernant le traitement par ces tiers de Vos Données Personnelles. Il est de votre responsabilité de Vous renseigner sur les politiques de protection des données personnelles de ces tiers.
</p>
<p>ARTICLE 8 – TRANSFERT DE DONNÉES PERSONNELLES
    En cas d’accès au Site depuis un pays non membre de l’Union européenne dont la législation relative à la collecte, à l’utilisation et au transfert de données diffère de celles de l’Union européenne, nous attirons votre attention sur le fait qu’en continuant d’utiliser le Site, qui est régis par le droit français, les Conditions d’utilisation correspondantes et la présente Politique, Vous transférez Vos Données Personnelles vers l’Union européenne et consentez à ce transfert.
    
    Vos Données Personnelles peuvent être divulguées au sein de le Service d’Exploitation des Sites Touristiques de l’Ariège aux fins énoncées à l’Article 3 de la présente Politique.
    
    Le Service d’Exploitation des Sites Touristiques de l’Ariège peut transférer Vos Données Personnelles en dehors de l’Union européenne, à condition de s’assurer, avant de les transférer, que les entités extérieures à l’Union européenne, offrent un niveau de protection adéquat, conformément à la législation européenne en vigueur.
    
    Si le Service d’Exploitation des Sites Touristiques de l’Ariège apprenait qu’un tiers auquel le Service d’Exploitation des Sites Touristiques de l’Ariège a communiqué des Données Personnelles aux fins énoncées à l’Article 3 ci-dessus, utilise ou divulgue des Données Personnelles sans respecter la présente Politique ou en violation de la législation applicable, le Service d’Exploitation des Sites Touristiques de l’Ariège prendrait toute mesure raisonnable pour prévenir ou mettre fin à une telle utilisation ou divulgation.
    
    Vous disposez également du droit d’autoriser ou non le Service d’Exploitation des Sites Touristiques de l’Ariège à utiliser Vos Données Personnelles pour une finalité autre que celles pour lesquelles ces Données Personnelles ont initialement été collectées. Vous pouvez vous opposer à cet usage en vous référant à l’Article 8 ci-dessous.
    
    Le Service d’Exploitation des Sites Touristiques de l’Ariège peut également être amené à transférer Vos Données Personnelles à des tiers si le Service d’Exploitation des Sites Touristiques de l’Ariège estime qu’un tel transfert est nécessaire pour des raisons techniques (par exemple, pour des services d’hébergement par un tiers) ou pour protéger ses intérêts légaux (par exemple, en cas de vente d’actifs à une société tiers, de changement de contrôle ou de liquidation totale ou partielle de le Service d’Exploitation des Sites Touristiques de l’Ariège).
    
    En outre, le Service d’Exploitation des Sites Touristiques de l’Ariège peut partager Vos Données Personnelles au revendeur dont Vous dépendez ou affecté au territoire dans lequel Vous vous trouvez pour les besoins de l’activité de le Service d’Exploitation des Sites Touristiques de l’Ariège. Le Service d’Exploitation des Sites Touristiques de l’Ariège peut également partager vos Données Personnelles avec des partenaires commerciaux lorsque le Service d’Exploitation des Sites Touristiques de l’Ariège et le partenaire commercial sponsorisent conjointement un évènement ou participent ensemble à une promotion marketing dans laquelle Vous vous engagez.
    
Le Service d’Exploitation des Sites Touristiques de l’Ariège peut communiquer Vos Données Personnelles si la loi l’y oblige ou si le Service d’Exploitation des Sites Touristiques de l’Ariège estime de toute bonne foi qu’une telle divulgation est raisonnablement nécessaire pour se conformer à une procédure légale (par exemple, un mandat, une citation à comparaître ou toute autre décision de justice) ou pour protéger les droits, les biens ou la sécurité personnelle de le Service d’Exploitation des Sites Touristiques de l’Ariège, de nos clients ou du public.

Si la législation applicable le permet, le Service d’Exploitation des Sites Touristiques de l’Ariège peut également partager Vos Données Personnelles avec des tiers afin de Vous proposer des offres marketing ou publicitaires ciblées.

Ces transferts pourront avoir lieu par Internet ou par toute autre méthode jugée opportune par le Service d’Exploitation des Sites Touristiques de l’Ariège conformément à la législation applicable et aux politiques internes de sécurité de Groupe le Service d’Exploitation des Sites Touristiques de l’Ariège.
</p>
<p>ARTICLE 9 – VOS DROITS
    Votre droit d’accès et à la rectification de vos données
    Vous disposez du droit d’accéder et de faire rectifier vos données personnelles.
    
    Vous pouvez nous demander que vos données personnelles soient, selon les cas, rectifiées, complétées si elles sont inexactes, incomplètes, équivoques, périmées.
    
    Votre droit à l’effacement de vos données
    Vous pouvez nous demander l’effacement de vos données personnelles lorsque l’un des motifs suivants s’applique :
    
    les données personnelles ne sont plus nécessaires au regard des finalités pour lesquelles elles ont été collectées ou traitées d’une autre manière ;
    vous retirez le consentement préalablement donné ;
vous vous opposez au traitement de vos données personnelles pour motif légitime ;
le traitement de données personnelles n’est pas conforme aux dispositions de la législation et de la réglementation applicable.
Néanmoins, l’exercice de ce droit ne sera pas possible lorsque la conservation de vos données personnelles est nécessaire au regard de la législation ou de la réglementation et notamment par exemple pour la constatation, l’exercice ou la défense de droits en justice.

Votre droit à la limitation des traitements de données
Vous pouvez demander la limitation du traitement de vos données personnelles dans les cas prévus par la législation et la réglementation.

Votre droit de vous opposer aux traitements de données
Vous avez le droit de vous opposer à un traitement de données personnelles vous concernant lorsque le traitement est fondé sur l’intérêt légitime du responsable du traitement.

Votre droit à la portabilité de vos données
Depuis le 25 mai 2018, vous disposerez du droit à la portabilité de vos données personnelles.

Les données sur lesquelles peut s’exercer ce droit sont :

uniquement vos données personnelles, ce qui exclut les données personnelles anonymisées ou les données qui ne vous concernent pas ;
les données personnelles déclaratives ainsi que les données personnelles de fonctionnement évoquées précédemment ;
les données personnelles qui ne portent pas atteinte aux droits et libertés de tiers telles que celles protégées par le secret des affaires.
Ce droit est limité aux traitements basés sur le consentement ou sur un contrat ainsi qu’aux données personnelles que vous avez personnellement générées.

Ce droit n’inclut ni les données dérivées ni les données inférées, qui sont des données personnelles créées par le Service d’Exploitation des Sites Touristiques de l’Ariège.

Votre droit de retirer votre consentement
Lorsque les traitements de données que nous mettons en œuvre sont fondés sur votre consentement, vous pouvez le retirer à n’importe quel moment. Nous cessons alors de traiter vos données à caractère personnel sans que les opérations antérieures pour lesquelles vous aviez consenti ne soient remises en cause.

Votre droit d’introduire un recours
Vous avez le droit d’introduire une réclamation auprès de la CNIL sur le territoire français et ce sans préjudice de tout autre recours administratif ou juridictionnel.

Votre droit de définir des directives post-mortem
Vous avez la possibilité de définir des directives relatives à la conservation, à l’effacement et à la communication de vos données personnelles après votre décès et ce auprès d’un tiers de confiance, certifié et chargé de faire respecter la volonté du défunt conformément aux exigences du cadre juridique applicable.

Les modalités d’exercice de vos droits
Tous les droits énumérés ci-avant peuvent être exercés :

par courrier postal à l’adresse suivante : Service d’Exploitation des Sites Touristiques de l’Ariège – Parc de la Préhistoire – Route de Banat – 09400 Tarascon-sur-Ariège, en joignant une copie de votre carte d’identité et un justificatif de domicile ;
via notre adresse mail info@sites-touristiques-ariege.fr. Une procédure vous sera alors envoyée afin de valider votre identité.
Note : les documents envoyés dans le cadre de cette procédure seront purement détruits, et les données potentiellement recueillies durant la procédure seront définitivement supprimée, à l’issue de cette dernière.

Notez également que toutes les demandes ne respectant pas ces directives seront ignorées.

Nous nous engageons à répondre à ces demandes dans un délai d’1 mois à compter de la réception de la demande. Ce délai peut être prolongé de 2 mois selon la complexité et le nombre de demandes reçues, soit 3 mois au total.

Si vous disposez d’un compte, vous pouvez exercer Vos droits d’accès et de rectification en vous connectant à votre compte.

Néanmoins, en ce qui concerne l’exercice du droit à l’information, nous pouvons ne pas avoir l’obligation d’y donner suite si :

vous disposez déjà de cette information ;
l’enregistrement ou la communication de vos données personnelles sont expressément prévus par la loi ;
la communication d’informations se révèle impossible ;
la communication d’informations exigerait des efforts disproportionnés.</p>
<p>ARTICLE 10 – SÉCURITÉ ET DESTINATAIRES DES DONNÉES</p>
Le Service d’Exploitation des Sites Touristiques de l’Ariège veille à protéger et sécuriser les Données Personnelles que Vous avez choisies de lui communiquer, afin d’assurer leur confidentialité et empêcher qu’elles ne soient déformées, endommagées, détruites ou divulguées à des tiers non autorisés.

Le Service d’Exploitation des Sites Touristiques de l’Ariège a pris des mesures de protection physiques, électroniques et organisationnelles pour prévenir toute perte, mauvaise utilisation, accès ou diffusion non autorisé, altération ou destruction éventuelle de ces Données Personnelles. Parmi ces mesures de protection, le Service d’Exploitation des Sites Touristiques de l’Ariège intègre des technologies spécialement conçues pour protéger les Données Personnelles durant leur transfert. Toutefois, malgré les efforts de le Service d’Exploitation des Sites Touristiques de l’Ariège pour protéger Vos Données Personnelles, le Service d’Exploitation des Sites Touristiques de l’Ariège ne peut pas garantir l’infaillibilité de cette protection en raison de risques inévitables pouvant survenir lors de la transmission de Données Personnelles.

Toutes les Données Personnelles étant confidentielles, leur accès est limité aux collaborateurs et prestataires de le Service d’Exploitation des Sites Touristiques de l’Ariège qui en ont besoin dans le cadre de l’exécution de leur mission. Toutes les personnes ayant accès à Vos Données Personnelles sont tenues par une obligation de confidentialité et s’exposent à des mesures disciplinaires et/ou autres sanctions si elles ne respectent pas ces obligations.

Toutefois, il importe que Vous fassiez preuve de prudence pour empêcher tout accès non autorisé à Vos Données Personnelles. Vous êtes responsable de la confidentialité de Votre mot de passe et des informations figurant dans Votre compte. Par conséquent, Vous devez Vous assurer de fermer Votre session en cas d’utilisation partagée d’un même ordinateur ou d’un même terminal.
</p>
<p>ARTICLE 11 – RÉSOLUTION DES CONFLITS
    Bien que le Service d’Exploitation des Sites Touristiques de l’Ariège ait pris des mesures raisonnables pour protéger les Données Personnelles, aucune technologie de transmission ou de stockage n’est totalement infaillible.

    Toutefois, le Service d’Exploitation des Sites Touristiques de l’Ariège est soucieux de garantir la protection des Données Personnelles. Si Vous avez des raisons de penser que la sécurité de Vos Données Personnelles a été compromise ou qu’elles ont fait l’objet d’une utilisation abusive, Vous êtes invité à contacter le Service d’Exploitation des Sites Touristiques de l’Ariège à l’adresse suivante : info@sites-touristiques-ariege.fr.
    
    Le Service d’Exploitation des Sites Touristiques de l’Ariège instruira les réclamations concernant l’utilisation et la divulgation de Données Personnelles et tentera de les résoudre conformément aux principes figurant dans la présente Politique.
    
    L’accès non autorisé à des Données Personnelles ou leur mauvaise utilisation peut constituer une infraction aux termes de la législation locale.
</p>
<p> ARTICLE 12 – CONTACT
    Pour toute question concernant la présente Politique, pour ne plus recevoir d’informations de la part de le Service d’Exploitation des Sites Touristiques de l’Ariège ou pour toute demande de rectification, complément, mise à jour ou suppression de Vos Données Personnelles, Vous pouvez envoyer un courrier électronique à l’adresse électronique suivante : info@sites-touristiques-ariege.fr.
</p>
<p>ARTICLE 13 – DATE D’ENTRÉE EN VIGUEUR ET RÉVISIONS DE LA POLITIQUE DE PROTECTION DES DONNÉES PERSONNELLES
    La présente Politique peut être mise à jour en fonction des besoins de le Service d’Exploitation des Sites Touristiques de l’Ariège et des circonstances ou si la loi l’exige. Nous vous invitons par conséquent à prendre régulièrement connaissance des mises à jour.
</p>
{% endblock %}