@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap');



/* ========== HEADER ========== */


header{
	background-image: url("../images/header.jpg");
	height: 327px;
	background-attachment: scroll;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-y: 79%;
	font-family: "Roboto Slab", serif;


}

.tt{
	height: 115px;
	margin-top: 25px;
}

.bordure{
	padding-top: 65px ; 
	font-weight: bold;
	text-align: center;
	opacity: 0.9;
	font-size: 1em; 
}

#nomdusite{
	top: 200px;
	display: flex;
	font-weight: bold;
	color: white;
	text-align: center;
	font-size: 3em; 
	padding-top: 25px;
	font-family: 'Raleway', sans-serif;
}

header a:link {color: white;}
header a:visited {color: white;}
header a:hover {color: white;}
header a:active {color: white;}

a:link {color: black;}
a:visited {color: black;}
a:hover {color: black;}
a:active {color: black;}

/* =========== MAIN - ACCUEIL =========== */

body{
	font-family: Montserrat, sans-serif;

}
a:link {color: black;}
a:visited {color: black;}
a:hover {color: black;}
a:active {color: black;}

h5{
	font-weight: bold;
}

/* =========== MAIN - CONTACT ==========*/
#container_main {
	display: flex;
	align-items: center;
}

#container_main #container_infos {
	width: 50%;
}

#container_main #container_infos p, h1, h3, h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
	margin: 20px;
	text-align: center;	
}

h1, h3, h4 {
	font-weight: bolder;

}

h3, h4{
	font-size: 1em;
}

.needToMove {
	margin-top: 40px;
}

#container_main #container_infos p {
    font-size: 18px;
    line-height: 35px;
}

#container_main #container_infos h1 {
    font-size: 35px;
}

#container_main #container_form {
	background-image: url('../images/fond.jpg');
}

#container_main #container_form #contact h4 {
	font-size: 12px;
	color: #777;
	margin-top : 15px;
}

#container_main #container_form {
    display: flex;
    justify-content: center;
    width: 50%;
}

#contact {
	background:#F9F9F9;
	padding: 25px;
    margin: 50px 0;
    border-radius: 15px;
}

#contact h3 {
	color: #e8505b;
	display: block;
	font-size: 30px;	
}

#contact h4 {
	margin: 5px 0 15px;
	font-size: 1rem;
}

fieldset {
	margin: 0 0 10px;
	min-width: 100%;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width: 100%;
	border: 1px solid #CCC;
	background: #FFF;
	margin: 0 0 15px;
	padding: 10px;
}


#contact textarea {
	height: 200px;
    max-width: 100%; 
    resize: none;  
}

#contact button[type="submit"] {
	cursor: pointer;
	width: 100%;
    border: none;
    border-radius: 20px;
	background: #e8505b;
	color: #FFF;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
}

#contact button[type="submit"]:hover {
	background: rgb(177, 34, 34);
}

#contact button[type="submit"]:active { box-shadow:inset 0 3px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline: 0;
	border: 1px solid #999;
}

::-webkit-input-placeholder {
 color: #888;
}

:-moz-placeholder {
 color: #888;
}

::-moz-placeholder {
 color: #888;
}

:-ms-input-placeholder {
 color: #888;
} 

/* ========== FOOTER ========== */

#icone{
	width: 50%;
	margin: 0 auto;
	padding-top: 5%;
} 



footer{
	background-color: #FFE59E;
	height: 172px;
	font-family: "Roboto Slab", serif;

}

footer img {
	width: 60px; 
	height: 60px; 
	object-fit: cover; 
	}

footer a:link,footer a:visited,footer a:hover,footer a:active{
	color: black;
}

.trait
{
background-color: black;
height: 1px;
width: 75%;
margin: 0 auto;
}

.copyright{
	margin: 0 auto;
}



/* =============== RESPONSIVE ============== */

/* =============== HEADER ============= */

@media screen and (min-width: 200px) and (max-width: 769px) {
	#icone{
		display: flex;
		flex-wrap: nowrap;
		margin: 0 18px;
	
	}
	
	}
	
/* ================================================================
====================== RESPONSIVE - CONTACT =======================
=================================================================== */

@media screen and (max-width: 900px) {

	#container_main #container_infos h1 {
		font-size: 25px;
	}

	#container_main #container_infos h3 {
		font-size: 15px;
	}

	#container_main #container_infos h4 {
		font-size: 12px;
	}

	#container_main #container_infos p {
		font-size: 11px;
	}

	#container_main #container_form #contact {
		width: 350px;
		height: 578px;
	}

	#container_main #container_form #contact h3 {
		font-size: 20px;
	}

	#container_main #container_form #contact h4 {
		font-size: 10px;
	}

	#container_main #container_form #contact button {
		height: 28px;
		font-size: 12px;
		padding: 3px;
	}
}

@media screen and (max-width: 710px) {
	
	#container_main #container_infos h1 {
		font-size: 20px;
	}

	#container_main #container_infos h3 {
		font-size: 12px;
	}

	#container_main #container_infos h4 {
		font-size: 10px;
	}

	#container_main #container_infos p {
		font-size: 10px;
	}

	#container_main #container_form #contact {
		width: 300px;
		height: 500px;
		
	}

	#container_main #container_form #contact h3 {
		font-size: 17px;
		margin-bottom: 0px;
	}

	#container_main #container_form #contact h4 {
		font-size: 9px;
	}

	#container_main #container_form #contact #name {
		margin-bottom: 0px;
	}

	#container_main #container_form #contact button {
		height: 25px;
		font-size: 12px;
		padding: 3px;

	}

	.objet, .email, .name {
		height: 20px;
	}

}

/* ================ FOOTER ================== */

@media screen and (max-width: 934px) and (min-width: 769px){
	footer{
		height: 200px;
	}
	
	
	.trait{
		margin-top: 34px;
	}
	}


	